{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>qpower</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
{#    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicons/favicon.ico' %}">#}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'mspsoc/css/bootstrap.min.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'mspsoc/css/owl.carousel.min.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'mspsoc/css/magnific-popup.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'mspsoc/css/font-awesome.min.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'mspsoc/css/themify-icons.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'mspsoc/css/nice-select.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'mspsoc/css/flaticon.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'mspsoc/css/animate.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'mspsoc/css/slicknav.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'mspsoc/css/style.css' %}?{% now 'U' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    {% include 'qpower/header.html' %}

    {% block content %}
    {% endblock content %}

    {% include 'qpower/footer.html' %}
    <!-- JS here -->
    <script src="{% static 'mspsoc/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'mspsoc/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'mspsoc/js/popper.min.js' %}"></script>
    <script src="{% static 'mspsoc/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mspsoc/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'mspsoc/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'mspsoc/js/ajax-form.js' %}"></script>
    <script src="{% static 'mspsoc/js/waypoints.min.js' %}"></script>
    <script src="{% static 'mspsoc/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'mspsoc/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'mspsoc/js/scrollIt.js' %}"></script>
    <script src="{% static 'mspsoc/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'mspsoc/js/wow.min.js' %}"></script>
    <script src="{% static 'mspsoc/js/nice-select.min.js' %}"></script>
    <script src="{% static 'mspsoc/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'mspsoc/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'mspsoc/js/jquery.countdown.js' %}"></script>
    <script src="{% static 'mspsoc/js/plugins.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'mspsoc/js/contact.js' %}"></script>
    <script src="{% static 'mspsoc/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'mspsoc/js/jquery.form.js' %}"></script>
    <script src="{% static 'mspsoc/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'mspsoc/js/mail-script.js' %}"></script>

    <script src="{% static 'mspsoc/js/main.js' %}"></script>

</body>

</html>
