{% load static %}
<!-- footer_start -->
    <footer class="footer footer_bg_1">
        <div class="circle_ball d-none d-lg-block">
            <a href="#top"><img src="https://storage.needpix.com/rsynced_images/arrow-975992_1280.png" alt="" style="max-width: 13%;"></a>
        </div>
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 col-lg-4">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                  QPower Community
                                </h3>
                                <div class="row">
{#                                  <div class="col-md-4">#}
{#                                    <img src="{% static 'images/QPower-logo.png' %}" style="width: 100%;" class="img-fluid">#}
{#                                  </div>#}
                                  <div class="col-md-12">
                                    <p style="text-align: justify"><img src="{% static 'images/QPower-logo.png' %}" style="width: 30%;float:left;padding: 5px 10px;" class="img-fluid">Q-power is a community of enthusiasts who are willing to learn and contribute towards Quantum Computing
                                    We are scheduling a series from beginners to higher level. Join us.
                                    </p>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-lg-4" style="text-align: center">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                        Links
                                </h3>
                                <ul>
                                    <li><a href="#top">Home</a></li>
                                    <li><a href="#schedule">Schedule</a></li>
                                    <li><a href="#speakers">Speakers</a></li>
                                    <li><a href="#organizers">Organizers</a></li>
{#                                    <li><a href="{% url 'hackcovid19:project' %}">Projects</a></li>#}
                                    <li><a href="#faq">FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-lg-4">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                        <img src="{% static 'microsoft/Visual ID and Logo/Student Partner Visual ID/Blue_White/CMYK/1Line/MSP_visual-ID_CMYK_1line_blue_white.png' %}" alt="" style="width: 100%;">
                                </h3>
                                <p style="text-align: justify">
                                    MSP Global is a community by Microsoft Student Partners to host their events and provide certificates to the participants with the validatiion key and much more.
                                    <br>This is an open source project, Feel free to contribute.<br>
                                    <div class="social_icon">
                                      <a target="_blank" href="https://github.com/ramanaditya/Microsoft-Student-Partners" style="font-size: 1.5em;"><i class="fa fa-github" ></i> <span style="color: white">GitHub</span> </a>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right_text">
                <div class="container">
                    <div class="footer_border"></div>
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="copy_right text-center">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <!-- footer_end -->
