{% load static %}
<!-- header-start -->
<header>
  <div class="header-area ">
      <div id="sticky-header" class="main-header-area ">
          <div class="container-fluid p-0">
              <div class="row align-items-center justify-content-between no-gutters">
                  <div class="col-xl-4 col-lg-4">
                      <div class="logo-img">
                          <a href="{% url 'qpower:home' %}">
                            <h4 style="color: white;text-align: left;padding-top: 0.5em;">MICROSOFT <span style="color: #0078D4">STUDENT PARTNERS</span></h4>
{#                              <img src="{% static 'microsoft/Visual ID and Logo/Student Partner Visual ID/Blue_White/CMYK/1Line/MSP_visual-ID_CMYK_1line_blue_white.png' %}" alt="">#}
                          </a>
                      </div>
                  </div>
                  <div class="col-xl-8 col-lg-8">
                      <div class="main-menu  d-none d-lg-block">
                          <nav>
                              <ul id="navigation">
                                  <li><a href="{% url 'qpower:home' %}">home</a></li>
                                  <li><a href="#schedule">Schedule</a></li>
{#                                  <li><a href="#">blog <i class="ti-angle-down"></i></a>#}
{#                                      <ul class="submenu">#}
{#                                          <li><a href="blog.html">blog</a></li>#}
{#                                          <li><a href="single-blog.html">single-blog</a></li>#}
{#                                      </ul>#}
{#                                  </li>#}
{#                                  <li><a href="#">pages <i class="ti-angle-down"></i></a>#}
{#                                      <ul class="submenu">#}
{#                                          <li><a href="elements.html">elements</a></li>#}
{#                                      </ul>#}
{#                                  </li>#}
                                  <li><a href="#speakers">Speakers</a></li>
                                  <li><a href="#organizers">Organizers</a></li>
                                  <li><a href="{% url 'certificates:home' %}">Certificates</a></li>
{#                                <li><a href="{% url 'mspsoc:project' %}">Projects</a></li>#}
{#                                  <li><a href="Venue.html">Venue</a></li>#}
{#                                  <li><a href="#contact">Contact</a></li>#}
                                  <li><a href="#faq">FAQs</a></li>
                              </ul>
                          </nav>
                      </div>
                  </div>
{#                  <div class="col-xl-2 col-lg-2 d-none d-lg-block">#}
{#                      <div class="buy_ticket">#}
{#                          <a href="#" class="boxed-btn-white">Buy Ticket</a>#}
{#                      </div>#}
{#                  </div>#}
                  <div class="col-12">
                      <div class="mobile_menu d-block d-lg-none"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
<!-- header-end -->
