{% load static %}
<!-- header-start -->
<header>
  <div class="header-area ">
      <div id="sticky-header" class="main-header-area ">
          <div class="container-fluid p-0">
              <div class="row align-items-center justify-content-between no-gutters">
                  <div class="col-xl-2 col-lg-2">
                      <div class="{% static 'wemeet/logo-img' %}">
                          <a href="index.html">
                              <img src="{% static 'wemeet/img/logo.png' %}" alt="">
                          </a>
                      </div>
                  </div>
                  <div class="col-xl-8 col-lg-8">
                      <div class="main-menu  d-none d-lg-block">
                          <nav>
                              <ul id="navigation">
                                  <li><a class="active" href="index.html">home</a></li>
                                  <li><a href="Schedule.html">Schedule</a></li>
                                  <li><a href="#">blog <i class="ti-angle-down"></i></a>
                                      <ul class="submenu">
                                          <li><a href="blog.html">blog</a></li>
                                          <li><a href="single-blog.html">single-blog</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="#">pages <i class="ti-angle-down"></i></a>
                                      <ul class="submenu">
                                          <li><a href="elements.html">elements</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="Speakers.html">Speakers</a></li>
                                  <li><a href="Venue.html">Venue</a></li>
                                  <li><a href="contact.html">Contact</a></li>
                              </ul>
                          </nav>
                      </div>
                  </div>
                  <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                      <div class="buy_ticket">
                          <a href="#" class="boxed-btn-white">Buy Ticket</a>
                      </div>
                  </div>
                  <div class="col-12">
                      <div class="mobile_menu d-block d-lg-none"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
<!-- header-end -->
