{% load static %}
<!-- footer_start -->
    <footer class="footer footer_bg_1">
        <div class="circle_ball d-none d-lg-block">
            <a href="#top"><img src="https://storage.needpix.com/rsynced_images/arrow-975992_1280.png" alt="" style="max-width: 13%;"></a>
        </div>
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 col-lg-4">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                        Microsoft Team Channels
                                </h3>
                                <ul>
                                    <li><a target="_blank" href="https://teams.microsoft.com/l/channel/19%3a8005af0ef91e4b899f341c0fb2f79f18%40thread.tacv2/General?groupId=314485ea-eb6c-4877-8fd6-02537bbaeca8&tenantId=84c31ca0-ac3b-4eae-ad11-519d80233e6f">General</a></li>
                                    <li><a target="_blank" href="https://teams.microsoft.com/l/channel/19%3a418230dd946747db84e0973d468ae318%40thread.tacv2/Announcements?groupId=314485ea-eb6c-4877-8fd6-02537bbaeca8&tenantId=84c31ca0-ac3b-4eae-ad11-519d80233e6f">Anouncements</a></li>
                                    <li><a target="_blank" href="https://teams.microsoft.com/l/channel/19%3a2066c19b42bf4408a41e4292dc7b6de2%40thread.tacv2/Discussions?groupId=314485ea-eb6c-4877-8fd6-02537bbaeca8&tenantId=84c31ca0-ac3b-4eae-ad11-519d80233e6f">Discussions</a></li>
                                    <li><a target="_blank" href="https://teams.microsoft.com/l/channel/19%3a325e1c05692b46d08d465081b0d444d0%40thread.tacv2/Mentors?groupId=314485ea-eb6c-4877-8fd6-02537bbaeca8&tenantId=84c31ca0-ac3b-4eae-ad11-519d80233e6f">Mentors</a></li>
                                    <li><a target="_blank" href="https://teams.microsoft.com/l/channel/19%3a292a0f75e291409486a50f26f5da0e4f%40thread.tacv2/Event%2520Help?groupId=314485ea-eb6c-4877-8fd6-02537bbaeca8&tenantId=84c31ca0-ac3b-4eae-ad11-519d80233e6f">Event Help</a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-lg-4">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                        Links
                                </h3>
                                <ul>
                                    <li><a href="#top">Home</a></li>
                                    <li><a href="#schedule">Schedule</a></li>
                                    <li><a href="#speakers">Speakers</a></li>
                                    <li><a href="#organizers">Organizers</a></li>
                                    <li><a href="{% url 'mspsoc:project' %}">Projects</a></li>
                                    <li><a href="{% url 'certificates:home' %}">Certificates</a></li>
                                    <li><a href="#faq">FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-lg-4" style="text-align: justify">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                        <img src="{% static 'microsoft/Visual ID and Logo/Student Partner Visual ID/Blue_White/CMYK/1Line/MSP_visual-ID_CMYK_1line_blue_white.png' %}" alt="" style="width: 100%;">
                                </h3>
                                <p>
                                    MSP Summer Of Code (MSPSoC) is a 2 month long Open Source program    with an aim to help beginners get started with Open Source Development while creating solutions for a better tomorrow. Throughout the program, participants can contribute to different projects under the guidance and support by the MSP team. Top performers from each project will be felicitated with a certificate, goodies and much more.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right_text">
                <div class="container">
                    <div class="footer_border"></div>
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="copy_right text-center">
                                <div class="rounded-social-buttons">
                                    <a class="social-button github" href="https://github.com/ramanaditya/Microsoft-Student-Partners" target="_blank"><i class="fa fa-github"></i></a>
                                    <a class="social-button twitter" href="https://twitter.com/mspsoc" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a class="social-button linkedin" href="https://www.linkedin.com/company/mspsoc/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    <a class="social-button instagram" href="https://www.instagram.com/mspsoc/" target="_blank"><i class="fa fa-instagram"></i></a>
                                    <a class="social-button slack" href="https://join.slack.com/t/microsoftstud-eyh2026/shared_invite/zt-dw31rcph-mWc2a94nGm6DKt_N7nUJPQ" target="_blank"><i class="fa fa-slack"></i></a>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right_text">
                <div class="container">
                    <div class="footer_border"></div>
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="copy_right text-center">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <!-- footer_end -->
