{% extends 'mspbase.html' %}
{% load static %}
{% block content %}
         <div class="bg-banner-img clip-ellipse">
               <div class="ovrllay">

            {% include 'navbar.html' %}
            <!-- #banner start -->
            <section id="banner" class="pt-0">
               <div class="container ">
                  <div class="row">
                     <!-- #banner-text start -->
                     <div id="banner-text" class="col-md-12 text-c text-center ">
                        <h5 class="wow fadeInUp main-h" data-wow-delay="0.2s" >
                           About Us
                        </h5>
                        <p class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s">No hours sank into aggregating and cleaning data. No complex SQL queries required. Just the answers <br> teams need to make smarter decisions, fast. Now, that's data-driven.</p>
                     </div>
                     <!-- /#banner-text End -->
                  </div>
               </div>
            </section>
         </div>
      </div>
         <!-- /#banner end -->
         <!--#our_about_area -->
         <div class=" py-70 bg-about-img">
            <div class="container">
               <div class="row">
                  <div class="col-md-7 ">
                     <div class="title-lefts wow fadeInUp">
                        <h1>About us</h1>
                        <p class="bottom_h wow fadeInUp">We are the UK's leading supplier of road fuel and are growing internationally. </p>
                     </div>
                     <h2 class="about-s wow fadeInUp">This is our 27th year in business. </h2>
                     <p class="about-bottom-s wow fadeInUp">  We have grown from a bedroom start-up in 1992 to become<br> the UK's only national fuel supplier. We are now building on<br> our UK experience to grow internationally.</p>
                  </div>


                  <div class="col-md-5  back-shap">
                     <div class="all-text">
                        <h2 class="shap_top"> Our strategy </h2>
                        <p class="shap_bottom wow fadeInUp">By being the fuel supplier with the<br> lowest cost and the highest service<br> levels, we aim to earn the loyalty of<br> existing customers.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      <!--#End our_about_area-->
      <!-- #About Us Area start -->
      <div  id="about"  class=" back-right-text-c mt-50 wow fadeInUp ">
         <div class="container about_top-400">
            <div class="title wow fadeInUp mb_150  " style="visibility: visible; animation-name: fadeInUp;">
                  <h1 class="text-left pt-0">Lorem Ipsum <span class="font_30"> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</span> </h1>

               </div>
            <div class="row">
               <div class="col-md-6  ">
               </div>
               <div class="col-md-6  ">

                  <div class="about-right wow fadeInUp">
                     <h1 class="text-left">Lorem Ipsum is simply dummy text printing    industry.</h1  >
                  </div>
               </div>
            </div>
            <div class="row text-left box-s">
               <div class="col-md-6">
                  <div class="title wow fadeInUp">
                     <img src="assets/images/image_about_left.jpg " class="posi-r-img">
                  </div>
                  <div class="">
                     <a href="#nogo" class="hero__play"> <img src="assets/images/img-2.png" class="video-a"></a>
                  </div>
               </div>
               <div class="col-md-6 wow fadeInUp">
                  <div class="services-right">
                     <p class="about_bottom_r">Lorem Ipsum is simply </p>
                     <p class="services-right-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div  id="about"  class=" back-right-text-c mt-50 ">
         <div class="container about_top-100">
           <div class="row">
               <div class="col-md-12  wow fadeInUp ">
                 <div class="about-right wow fadeInUp">
                     <h1 class="text-left">Lorem Ipsum is simply dummy text printing <br> industry.</h1  >
                  </div>
               </div>
            </div>
            <div class="row text-left box-s">
               <div class="col-md-6 wow fadeInUp">
                  <div class="services-right">
                     <p class="about_bottom_r">Lorem Ipsum is simply </p>
                     <p class="services-right-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="title wow fadeInUp">
                     <img src="assets/images/image_about_right.jpg " class="posi-r-img">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End About Us Area -->
      <!-- #Our Team  Area start -->
      <section id="team" class="our_team_area">
         <div class="container">
            <div class="about-team wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
               <h1 class="text-center">Our Team</h1>
            </div>
            <div class="row team_row">
               <div class="col-md-4 col-sm-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                  <div class="team_membar">
                     <img src="assets/images/team/tm-1.jpg" alt="">
                     <div class="team_content">
                        <div class=" float-left  ">
                           <a href="#" class="name">Isabella Dowson</a>
                           <h6>Web Designer</h6>
                        </div>
                        <ul>
                           <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                  <div class="team_membar">
                     <img src="assets/images/team/tm-2.jpg" alt="">
                     <div class="team_content">
                        <div class=" float-left  ">
                           <a href="#" class="name">Isabella Dowson</a>
                           <h6>Web Designer</h6>
                        </div>
                        <ul>
                           <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                  <div class="team_membar">
                     <img src="assets/images/team/tm-3.jpg" alt="">
                     <div class="team_content">
                        <div class=" float-left  ">
                           <a href="#" class="name">Isabella Dowson</a>
                           <h6>Web Designer</h6>
                        </div>
                        <ul>
                           <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Our Team Us Area -->
      <!--#start Our testimonial Area -->
    <div class="our_partners_area bg-grediunt">
         <div class="book_now_aera ">
            <div class="container">
               <div class="row book_now">
                  <div class="col-md-5 booking_text">
                     <h4>Full insight into the customer journey.<br>
                        No SQL required.
                     </h4>
                     <p>Get started for free to see who your customers are, what they do and what keeps them coming back.</p>
                  </div>
                  <div class="col-md-7 p0 book_bottun">
                     <div class="col-md-7">

                     </div>
                     <div class="col-md-5">
                        <div class="top-banner wow fadeInRight text-left" style="visibility: visible; animation-name: fadeInRight;">
                           <a id="#services" href="contact.html" class="btn btn-primary  wow fadeInUp  js-scroll-trigger" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">CONTACT SALES</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
         <!--#End Our testimonial Area -->
      {% include "footer.html" %}
      <!-- The following is only needed when the video is in the html
         otherwise the who .hero__overlay html can be removed -->
      <div class="hero__overlay">
         <div class="hero__modal">
            <a class="hero__close" href="#">Close</a>
            <iframe allowscriptaccess="always" id="hero-video" class="hero__player" src="https://www.youtube.com/embed/1NSA8ycGfKg?enablejsapi=1&html5=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
         </div>
         <!-- /.hero__modal -->
      </div>
 {% endblock content %}
