{% load static %}
{% block footer %}
<!--#start Our footer Area -->
      <div class="our_footer_area">
         <div class="book_now_aera ">
            <div class="container wow fadeInUp">
               <div class="row book_now">
                  <div class="col-md-4">
                     <div class="">
                        <a class=" logo-biss" href="index.html"> <img src="{% static 'images/logo_img.png' %}"></a>
                     </div>
                     <p class="footer-h">It is a long established fact that a btn btn-defaulter will be distracted by the btn btn-defaultable content of a page when looking at its layout.</p>
                     <div class="bigpixi-footer-social">
                        <a href="" target="_blank"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                        <a href="" target="_blank"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                        <a href="" target="_blank"><i id="social-em" class="fa fa-instagram fa-3x social"></i></a>
                     </div>
                  </div>
                  <div class="col-md-1 ">
                  </div>
                  <div class="col-md-3">
                     <h2 class="footer-top">SOLUTIONS </h2>
                     <ul class="footer-menu">
                        <li><a href=""> SaaS    </a></li>
                        <li><a href=""> Mobile  </a> </li>
                        <li><a href="">Commerce    </a> </li>
                        <li><a href="">    Gaming    </a> </li>
                        <li><a href="">   Finance   </a> </li>
                        <li><a href="">         Media   </a></li>
                     </ul>
                  </div>
                  <div class="col-md-4">
                     <ul class="location">
                        <li class="footer-left-h"><i class="fa fa-map-marker"></i>505 Thornall St #301, Edison, <br>NJ 08837, USA</li>
                        <li class="footer-left-h"><i class="fa fa-phone"></i>Call Us <br>+1- 982-8-587 452
                           <br>+1- 982-8-587 452
                        </li>
                        <li class="footer-left-h"><i class="fa fa-envelope-o"></i>Email<br>
                           <a href=""> enquiry@demo.com </a></br><a href=""> enquiry@demo.com </a>
                        </li>
                        <p class="color-gray">
                           <a href="https://themewagon.com/theme_tag/free/">Free HTML5 Templates</a> distributed by <a href="https://themewagon.com/">ThemeWagon</a>
                        </p>
                     </ul>
                  </div>
                   <div class="col-md-12">
                    <p class="color-gray">  <a href="https://www.navthemes.com/free-html-templates/">Free HTML Template</a> by <a href="https://www.navthemes.com">NavThemes </a> </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--#End Our footer Area -->
{% endblock footer %}
