{% extends 'mspbase.html' %}
{% load static %}
{% block content %}
  <div class="bg-grediunt" >
         <div class="bg-banner-img clip-ellipse">
            <div class="ovrllay" >

               {% include 'navbar.html' %}
               <!-- #banner start -->
               <section id="banner" class=" mb-90" >
                  <div class="container ">
                     <div class="row">
                        <!-- #banner-text start -->
                        <div id="banner-text" class="col-md-12 text-c text-center " >
                           <h5 class="wow fadeInUp main-h" data-wow-delay="0.2s" >Microsoft Student Partners</h5>
                           <p class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s">This is a Platform for all the Microsoft Student Partners to host their events, <br> webinars and other stuffs.</p>
                           <div class="top-banner wow fadeInRight">
                              <a id="#services"  href="contact.html" class="btn btn-default  wow fadeInUp  js-scroll-trigger" data-wow-delay="1s" href="#">GeT STARTED FOR FREE</a>
                           </div>
                        </div>
                        <!-- /#banner-text End -->
                     </div>
                  </div>
               </section>
            </div>
            </div>

         <!-- /#banner end -->

         <!--#Our Partners Area -->
         <div class="our_partners_area py-70 pt_banner_30">
            <div class="container">

               <!--#Our Partners assets/images start -->
               <div class="partners wow fadeInUp">
{#                  <div class="item"><img src="{% static 'images/client_logo/client_logo-1.png' %}" alt=""></div>#}
{#                  <div class="item"><img src="{% static 'images/client_logo/client_logo-2.png' %}" alt=""></div>#}
{#                  <div class="item"><img src="{% static 'images/client_logo/client_logo-3.png' %}" alt=""></div>#}
{#                  <div class="item"><img src="{% static 'images/client_logo/client_logo-4.png' %}" alt=""></div>#}
{#                  <div class="item"><img src="{% static 'images/client_logo/client_logo-5.png' %}" alt=""></div>#}
               </div>
{#               <!--#End Our Partners assets/images -->#}
{##}
            </div>
         </div>
      </div>
      <!--#End Our Partners Area -->
      <!-- #About Us Area start -->
      <div  id="about"  class=" back-right-text-c">
         <div class="container">
            <div class="row text-center mb-60 ">
               <div class="title wow fadeInUp">
                  <h1>Grow your skills and help others to grow along</h1>
               </div>
            </div>
            <div class="row about_row  py-40">
               <!--#about-text start -->
               <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                  <div class="service-1">
                     <div class="servise-top wow fadeInUp">
                        <img src="{% static 'images/icone-1.png' %}">
                     </div>
                     <h2 class="unify"> Help others </h2>
                     <p class="bottom-s">Make a difference, expand your impact, and share your passions through original content, peer mentoring, and facilitating opportunities such as Microsoft Imagine Cup teams and student hackathon events. Microsoft’s mission is to empower every person and organization on the planet to achieve more, and our Student Partners strive to do the same.  </p>
                     <!--<div class="button-div">
                        <a href="" class="button-s"> Learn more   </a>
                     </div>-->
                  </div>
               </div>
               <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                  <div class="service-1">
                     <div class="servise-top wow fadeInUp">
                        <img src="{% static 'images/icone-2.png' %}">
                     </div>
                     <h2 class="unify"> Be a tech insider </h2>
                     <p class="bottom-s">Get unique access to Microsoft resources and personnel that help you lead in your community and provide opportunities to be part of a team while you prepare for graduation. Student Partners share their tech passion by hosting events, providing guidance to other students, and giving us product feedback—all while gaining résumé-building recognition.</p>
                     <!--<div class="button-div">
                        <a href="" class="button-s"> Learn more   </a>
                     </div>-->
                  </div>
               </div>
               <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                  <div class="service-1">
                     <div class="servise-top wow fadeInUp">
                        <img src="{% static 'images/icone-3.png' %}">
                     </div>
                     <h2 class="unify"> Grow your skills </h2>
                     <p class="bottom-s">Master career and tech skills and build your leadership reputation with access to tools, learning resources, and special offers. Student Partners can earn perks such as $150 a month in Azure credits, free Visual Studio Enterprise and Microsoft Office 365 subscriptions, free certification exams, and opportunities to learn directly from Microsoft experts. </p>
                     <!--<div class="button-div">
                        <a href="" class="button-s"> Learn more   </a>
                     </div>-->
                  </div>
               </div>
               <!--#End about-text  -->
            </div>
         </div>
         <section class="">
         <div class="container-fluid ">
            <div class="row text-left about_row   ">
               <div class="col-md-6 p-0 clip-polygon  ">

                  <div class="video-img">
                     <a href="#nogo" class="hero__play"><img  src="{% static 'images/img-g.png' %}"></a>
                  </div>
               </div>
               <div class="col-md-6 wow fadeInUp">
                  <div class="title-left wow fadeInUp">
                     <h1 class="text-left wow fadeInUp " data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">Host Events and Webinars</h1>
                  </div>
                  <!--<p class="about_h wow fadeInUp " data-wow-delay="1s" style="visibility: visible; animation-name: fadeInRight;">Analytics to answer any business question.</p>-->
                  <p class="about_bottom_h wow fadeInUp " data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">For your virtual event, get creative and build opportunities for your attendees to meet and network with each other.</p>
                  <div class="top-banner wow fadeInRight text-left" style="visibility: visible; animation-name: fadeInRight;">
                     <a id="#services" href="#services" class="btn btn-default  wow fadeInUp  js-scroll-trigger" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">Learn more</a>
                  </div>
               </div>
            </div>
         </div>
         </section>
      </div>
      <!--<div class="container-fluid ">
         <div class="row text-left about_row mr-0 wow fadeInUp">
            <div class="col-md-6 pl-40 wow fadeInUp">
               <div class="title-left wow fadeInUp">
                  <h1 class="text-left">Optimize Every Touchpoint in the Customer Experience</h1  >
               </div>
               <p class="about_h">Analytics to answer any business question.</p>
               <p class="about_bottom_h">Full-funnel attribution, onboarding optimization, feature usage trends, subscription growth, cohort analysis and more. Know exactly what users are doing across touchpoints to increase acquisition, drive engagement and improve retention.</p>
               <div class="top-banner wow fadeInRight text-left" style="visibility: visible; animation-name: fadeInRight;">
                  <a id="#services" href="#services" class="btn btn-default  wow fadeInUp  js-scroll-trigger" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">Learn more</a>
               </div>
            </div>
            <div class="col-md-6 pr-0 clip-right">
               <p class="py-200">  </p>
            </div>
         </div>
      </div>-->
      <!-- End About Us Area -->
      <!-- #tabel  Area start -->
      <div  id="about"  class=" back-right-text-c">
         <div class="container wow fadeInUp">
            <div class="row text-center mb-60 ">
               <div class="title wow fadeInUp">
                  <!--<h1>Lorem Ipsum is simply dummy text of the printing <br> and typesetting industry.</h1>-->
                  <p class="about_bottom_h mt-50   ">
Our Mission is to help MSPs to successfully Host their events and get the huge amount of satisfied MSPs from their events.     </p>
               </div>
            </div>
         </div>
         <!--<div class="container">
            <div class="row wow fadeInUp" >
               <div class="col-md-4 col-sm-6 p-0">
                  <div class="pricingTable mt-50">
                     <div class="pricingTable-header">
                        <span class="price-value">
                        <span class="currency">$</span> 59
                        <span class="month"> /mo</span>
                        </span>
                        <h3 class="heading">Business</h3>
                     </div>
                     <div class="pricing-content">
                        <h2 class="tabel-color">  Beginner  </h2>
                        <ul>
                           <li>1 GB of space</li>
                           <li>Unlimited traffic</li>
                           <li>Forum access</li>
                           <li>Support at $25/hour</li>
                        </ul>
                        <a href="#" class="btn btn-default">
                        CHOOSE PLAN</a>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 p-0 wow fadeInUp ">
                  <div class="pricingTable pricing-three">
                     <div class="pricingTable-header pt-100">
                        <span class="price-value">
                        <span class="currency">$</span> 96
                        <span class="month"> /mo</span>
                        </span>
                        <h3 class="heading">Business</h3>
                     </div>
                     <div class="pricing-content">
                        <h2 class="tabel-color">  Advanced  </h2>
                        <ul>
                           <li>1 GB of space</li>
                           <li>Unlimited traffic</li>
                           <li>Forum access</li>
                           <li>Support at $25/hour</li>
                        </ul>
                        <a href="#" class="btn btn-default">
                        CHOOSE PLAN</a>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 p-0  wow fadeInUp ">
                  <div class="pricingTable mt-50">
                     <div class="pricingTable-header ">
                        <span class="price-value">
                        <span class="currency">$</span>108
                        <span class="month"> /mo</span>
                        </span>
                        <h3 class="heading">Business</h3>
                     </div>
                     <div class="pricing-content">
                        <h2 class="tabel-color">  Professional  </h2>
                        <ul>
                           <li>1 GB of space</li>
                           <li>Unlimited traffic</li>
                           <li>Forum access</li>
                           <li>Support at $25/hour</li>
                        </ul>
                        <a href="#" class="btn btn-default">
                        CHOOSE PLAN</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>-->
      <!-- End tabel Us Area -->
      <!--#Our Testimonial Area start-->
      <!--<section id="testimonials" class="testimonial_area row">
         <div class="container ">
            <div class="title wow fadeInUp">
            </div>
            <div class="testimonial_carosel">
               <div class="item">
                  <div class="media">
                     <div class="media-left">
                        <a href="#">
                        <img class="media-object" src="{% static 'images/testimonial-3.jpg' %}" alt="">
                        </a>
                     </div>
                  </div>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting<br> industry. Lorem Ipsum has been the industry's standard dummy text<br> ever since the 1500s, </p>
                  <div class="media-body text-center">
                     <h4 class="body-slider media-heading">Lorem Ipsum is simply dummy text </h4>
                     <div class="img-s ">
                        <img src="{% static 'images/logos-s.png' %}">
                     </div>
                  </div>
               </div>
               <div class="item">
                  <div class="media">
                     <div class="media-left">
                        <a href="#">
                        <img class="media-object" src="{% static 'images/testimonial-2.jpg' %}" alt="">
                        </a>
                     </div>
                  </div>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting<br> industry. Lorem Ipsum has been the industry's standard dummy text<br> ever since the 1500s, </p>
                  <div class="media-body text-center">
                     <h4 class="body-slider media-heading">Lorem Ipsum is simply dummy text </h4>
                     <div class="img-s ">
                        <img src="{% static 'images/logos-s.png' %}">
                     </div>
                  </div>
               </div>
               <div class="item">
                  <div class="media">
                     <div class="media-left">
                        <a href="#">
                        <img class="media-object" src="{% static 'images/testimonial-1.jpg' %}" alt="">
                        </a>
                     </div>
                  </div>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting<br> industry. Lorem Ipsum has been the industry's standard dummy text<br> ever since the 1500s, </p>
                  <div class="media-body text-center">
                     <h4 class="body-slider media-heading">Lorem Ipsum is simply dummy text </h4>
                     <div class="img-s ">
                        <img src="{% static 'images/logos-s.png' %}">
                     </div>
                  </div>
               </div>

            </div>
         </div>
      </section>-->
      <!--#End Our testimonial Area -->
      <!--<div class="our_partners_area bg-grediunt">
         <div class="book_now_aera ">
            <div class="container">
               <div class="row book_now">
                  <div class="col-md-5 booking_text">
                     <h4>Full insight into the customer journey.<br>
                        No SQL required.
                     </h4>
                     <p>Get started for free to see who your customers are, what they do and what keeps them coming back.</p>
                  </div>
                  <div class="col-md-7 p0 book_bottun">
                     <div class="col-md-7">

                     </div>
                     <div class="col-md-5">
                        <div class="top-banner wow fadeInRight text-left" style="visibility: visible; animation-name: fadeInRight;">
                           <a id="#services" href="contact.html" class="btn btn-primary  wow fadeInUp  js-scroll-trigger" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">CONTACT SALES</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>-->
      {% include "footer.html" %}
      <!-- The following is only needed when the video is in the html
         otherwise the who .hero__overlay html can be removed -->
      <div class="hero__overlay">
         <div class="hero__modal">
            <a class="hero__close" href="#">Close</a>
            <iframe allowscriptaccess="always" id="hero-video" class="hero__player" src="https://www.youtube.com/embed/1NSA8ycGfKg?enablejsapi=1&html5=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
         </div>
         <!-- /.hero__modal -->
      </div>
      <!-- /.hero__overlay -->
{% endblock %}
