{% load static %}
<!-- Header_Area -->
<nav class="navbar navbar-default header_aera affix-top">
<div class="container m-s">
   <!-- Brand and toggle get grouped for better mobile display -->
   <div class="col-md-4 p0">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#min_navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
{#         <a class="navbar-brand logo-biss" href="index.html"> <img src="{% static 'images/logo_img.png' %}"></a>#}
      </div>
   </div>
   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="col-md-8 p0">
      <div class="collapse navbar-collapse" id="min_navbar">
        <ul class="nav navbar-nav navbar-right">
      <li class="dropdown submenu">
         <a href="index.html" class="">Home</a>
      </li>
       <li class="dropdown submenu">
         <a href="about.html" class="">About</a>
      </li>
      <li class="dropdown submenu">
         <a href="services.html" class=""> Services</a>
      </li>
      <li class="dropdown submenu">
         <a href="blog.html" class="">Blog</a>
      </li>
      <li class="dropdown submenu">
         <a href="elements.html" class="">Elements</a>
      </li>
      <li class="dropdown submenu">
         <a href="contact.html" class="">Contact</a>
      </li>

   </ul>
      </div>
      <!-- /.navbar-collapse -->
   </div>
</div>
<!-- /.container -->
</nav>
<!-- End Header_Area -->
