<!DOCTYPE html>
<html lang='en'>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
<title>MSPGlobal - The Online Virtual Events Hosting Plateform</title>
<meta name="description" content="Come be part of Largest online Events Hosting Available for Microsoft Student Partners.">
<meta name="keywords" content="events, webinars, MSPGlobal, MSPs, Microsoft, tech fest, tech, quiz, contest, programming, competition, learn, technical, student, college, inter college">
<link rel="canonical" href="login.html">
<link rel="image_src" href="assets/users/students.png">
<meta name="twitter:card" content="MSPGlobal">
<meta name="twitter:site" content="@MSPGlobal">
<meta name="twitter:title" content="MSPGlobal - The Online Virtual Events Hosting Plateform">
<meta name="twitter:description" content="Come be part of Largest online Events Hosting Available for Microsoft Student Partners.">
<meta name="twitter:image" content="assets/users/students.png">
<meta property="og:title" content="MSPGlobal - The Online Virtual Events Hosting Plateform">
<meta property="og:description" content="Come be part of Largest online Events Hosting Available for Microsoft Student Partners.">
<meta property="og:type" content="website">
<meta property="og:url" content="login.html">
<meta property="og:image" content="../assets/users/students.png">
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<title>MSPGlobal 2020</title>
<meta charset='utf-8'>
<link rel="shortcut icon" type="image/ico" href="../assets/users/favicon.jpg" />
<link rel="apple-touch-icon" type="image/ico" href="../assets/users/favicon.jpg" />
<meta content='width=device-width, initial-scale=1, shrink-to-fit=no' name='viewport'>
<link rel="stylesheet" media="all" href="../assets/application_users-c494bc5bc4a4c8cac31e4aba0c9f4949acebe44e1ef93633a430661f6087398f.css" />
<link rel="stylesheet" media="screen" href="../assets/forms-e8bf8a1a646a41442585ef194019617ea16505b58648d569932ac08d9aa30956.css" />

<script src="../assets/application_users-e5346db6a807d9db30bcf0d851609a13596a6b420c260e55ad2408fcb998ca2c.js"></script>
<script src="../assets/forms-19eafa3f027813a81f04a4871d15fbb02b71e910d1e00ce25de16270f3c7ab25.js"></script>

</head>
<body>
<header class='fixed-top navbar-fixed-top white-header'>
<div class='container'>
<nav class='navbar navbar-expand-lg p-0'>
<a class='navbar-brand' href='../index.html'>
<img alt='' class='logo-white' src='../assets/users/microsoft-logo.png' width='140'>
<img alt='' class='logo-black' src='../assets/users/microsoft-logo.png' width='140'>
</a>
<button aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation' class='navbar-toggler' data-target='#navbarNav' data-toggle='collapse' type='button'>
<i class='fas fa-bars'></i>
</button>
<div class='collapse navbar-collapse' id='navbarNav'>
<ul class='navbar-nav ml-auto'>
<li class='nav-item'>
<a class="nav-link mr-2" href="../index.html"><i class='fa fa-home'></i>
</a></li>
<li class='nav-item'>
<a class="nav-link mr-2" href="../index.html#about">About</a>
</li>
<li class='nav-item'>
<a class="nav-link mr-2" href="../index.html#reward">Rewards</a>
</li>
<li class='nav-item'>
<a class="nav-link mr-2" href="../index.html#procedure">Procedure</a>
</li>
<li class='nav-item'>
<a class='nav-link mr-2' href='../Organizers.html'>Organizers</a>
</li>
<li class='nav-item dropdown'>
<a aria-expanded='false' aria-haspopup='true' class='nav-link dropdown-toggle' data-toggle='dropdown' href='../index.html' id='navbarDropdownMenuLink' role='button'>
Events
</a>
<div aria-labelledby='navbarDropdownMenuLink' class='dropdown-menu dropdown-menu-right'>
<a class='dropdown-item' href='../Event-2.html'>Event-2</a>
<a class='dropdown-item' href='../Event-1.html'>Event-1</a>
</div>
</li>
</ul>
</div>
</nav>
</div>
</header>

<section class='image_hero_faq'>
<div class='row no-gutters'>
<div class='col-md-12'>
<h1 class='text-white text-center'>Log In</h1>
</div>
</div>
</section>
<section class='registrations-form'>
<div class='container'>
<form id="check_status_form" class="form-horizontal" action="#" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
<div class='row'>
<div class='form-group col-md-12 col-lg-6'>
<label>Email *</label>
<input type="text" name="email" id="email" class="form-control" required="required" placeholder="Email" />
</div>
<div class='form-group col-md-12 col-lg-6'>
<label>Phone no *</label>
<input type="text" name="mobile_no" id="mobile_no" class="form-control" required="required" placeholder="Phone No" maxLength="15" />
</div>
<div class='form-group col-md-12 col-lg-12'>
<label>Registration ID *</label>
<input type="text" name="registration_code" id="registration_code" class="form-control" required="required" placeholder="Registration Code" />
</div>
<div class='form-group col-md-12'>
<a class='btn btn-default submit_user' data-url='/registration/status' disabled href='#'>Login</a>
<a class='btn btn-default submit_user' data-url='/resend_password' disabled href='#'>Send me a mail having password</a>
</div>
</div>
</form>

</div>
</section>
<script async='' src='https://www.googletagmanager.com/gtag/js?id=UA-107944474-1'></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-107944474-1');
</script>

<section class='contact-us'>
<div class='container'>
<div class='row'>
<div class='col-md-12'>
<div class='section-title text-center'>
<img src='../assets/users/title_design_white-7217f108af28200455a5dccf2698a27b0ecb8cd288cf38bd2caefc5a311c295f.svg'>
<h2 class='text-white'>Contact Us</h2>
</div>
</div>
<div class='col-md-5'>
<ul class='contact'>
<li>
<i aria-hidden='true' class='color-theme fa fa-map-marker-alt'></i>
<span>
<p class='address-footer'>This is an Online</p>
<p class='address-footer'>Virtual Event organized by</p>
<p class='address-footer'>Microsoft Student Partners.</p>
</span>
</li>
<li>
<i aria-hidden='true' class='color-theme fa fa-phone'></i>
<span>
<p class='address-footer'>
<a class='contact-link' href='tel:#{8866549333.gsub(/[() ]/,&#39;&#39;)}'></a>
Add Contact-1
</p>
<p class='address-footer'>
<a class='contact-link' href='tel:#{7016676005.gsub(/[() ]/,&#39;&#39;)}'></a>
Add Contact-2
</p>
</span>
</li>
<li>
<i class='far fa-envelope-open'></i>
<span>
<p>
<a class='contact-link' href='mailto:contact@mspglobal.com'>contact@mspglobal.com</a>
</p>
</span>
</li>
</ul>
</div>
<div class='col-md-7'>
<div class='contact-form'>
<form action='https://mspglobal.azurewebsites.net/' class='form-horizontal' id='contactForm' method='post'>
<div class='form-row'>
<div class='form-group col-md-12'>
<input type="text" name="query[name]" id="query_name" value="" placeholder="Full Name" maxLength="255" required="required" class="form-control" />
</div>
<div class='form-group col-md-6'>
<input type="text" name="query[email]" id="query_email" value="" placeholder="Email Address" maxLength="255" email="true" required="required" class="form-control" />
</div>
<div class='form-group col-md-6'>
<input type="text" name="query[phone_no]" id="query_phone_no" value="" placeholder="Phone Number" minLength="10" maxLength="15" required="required" class="form-control" />
</div>
<div class='form-group col-md-12'>
<input type="text" name="query[subject]" id="query_subject" value="" placeholder="Subject" maxLength="700" required="required" class="form-control" />
</div>
<div class='form-group col-md-12'>
<textarea name="query[message]" id="query_message" placeholder="Your Message" required="required" class="form-control" rows="3">
</textarea>
</div>
<div class='form-group col-md-12'>
<button class='btn btn-default-white btn-block contact-button' type='submit'>Send</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</section>
<footer>
<div class='container'>
<div class='row'>
<div class='col-md-4 col-sm-12'>
<img src='../assets/users/microsoft-logo.png'>
</div>
<div class='col-md-3 col-sm-12'>
<div class='footer-title'>
<h5>Information</h5>
<p>
<a href='../faqs.html'>FAQ</a>
</p>
<p>
<a href='../terms_and_conditions.html'>Terms & Conditions</a>
</p>
</div>
</div>
<div class='col-md-3 col-sm-12'>
<div class='footer-title'>
<h5>Events</h5>
<p>
<a href='../Event-1.html'>Event-1</a>
</p>
<p>
<a href='../Event-2.html'>Event-2</a>
</p>
<p>
<a href='../Organizers.html'>Organizers</a>
</p>
</div>
</div>
<div class='col-md-2 col-sm-12'>
<div class='footer-title'>
<h5>Follow Us</h5>
<p class='social-icon-footer'>
<a href='https://mspglobal.azurewebsites.net/' target='_blank'>
<i class='fab fa-facebook-f'></i>
</a>
<a href='https://mspglobal.azurewebsites.net/' target='_blank'>
<i class='fab fa-instagram'></i>
</a>
</p>
</div>
</div>
</div>
<div class='footer-bottom mt-5'>
<div class='row'>
<div class='col-md-5 col-sm-12'>
<p class='float-md-left text-center'>
<a href='https://mspglobal.azurewebsites.net/'>@ 2020</a>
All rights reserved
</p>
</div>
<div class='col-md-7 col-sm-12'>
<p class='float-md-right text-center'>
Made by
<a href='https://mspglobal.azurewebsites.net/'>Microsoft Student Partners</a>
with
<a href='https://mspglobal.azurewebsites.net/'>
<i class='fas fa-heart'></i>
</a>
</p>
</div>
</div>
</div>
</div>
</footer>

</body>
</html>
